micro-service-project/caddy_config
micro-service-project/caddy_data
micro-service-project/db-data

*/go.mod
*/go.sum

front-end/frontEndApp
logger-service/loggerServiceApp
broker-service/brokerApp
authentication-service/authApp
mail-service/mailerApp
listener-service/listenerApp

go-microservice-udemy.code-workspace

.DS_Store

.env
.env.*